* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

#main {
    display: flex;
}


:root{
    --slidebar-background-color:#F5F5F5;
    --regular-font-color:black;
    --main-background-color: #FFFFFF;
    --logo-background-color:#F5F5F5;
    --button-color:white;
}
.dark-mode{
    --slidebar-background-color:#242526;
    --regular-font-color:#ffffff;
    --main-background-color: #18191A;
    --logo-background-color:#F5F5F5;
    --button-color:black;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--slidebar-background-color);
    width: 18%;
    border-right: 2px solid #DEDEDE;
}


#left span {
    width: 6%;
    margin: 10px;
    margin-right: 05px;
    padding-left: 40px;
    color: var(--regular-font-color);
}

div #logo {
    margin-top: 30px;
    padding: 0;
    text-align: center;
    width: 60%;
    margin-left: 40px;
    margin-bottom: 20px;
}

div>p {
    margin: 10px;
    padding: 5px;
    display: inline;
}

#left div:last-child {
    margin-bottom: 30px;
}

#left a {
    text-decoration: none;
    color: var(--regular-font-color);
}

#left>div>div:hover a {
    font-size: 16px;
    font-weight: 500;
    color: #722ED1;
}

#left>div>div:hover span {
    color: #722ED1;
}

#left>div>div {
    display: flex;
    align-items: center;
}

#left>div>div:hover {
    margin-right: -1px;
    border-right: 4px solid #722ED1;
}

#left>div:first-child>div:first-child {
    margin-right: 0;
    border: none;
}

#right {
    background-color: var(--main-background-color);
    width: 86%;
}

#r1 div:first-child img {
    width: 25px;
}

#r1 div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

#r1 {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

#r1 div:last-child {
    text-align: end;
    margin: 5px 20px;
}

#r1 div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#r1 div:last-child img:first-child {
    width: 33px;
    margin: 0px 25px;
    margin-left: 35px;
}

#right #r1 #profile {
    border-radius: 50%;
    border: 1px solid lightgray;
    width: 50px;
    margin-top: 5px;
    margin-left: 15px;
    margin: 5px;
}

#right>div:nth-child(2) {
    color: var(--regular-font-color);
    padding: 20px;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
}

#right>div:nth-child(2) p {
    font-size: 30px;
    font-weight: 600;
}

#t h2 {
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    margin: 20px 32px;
    margin-bottom: 10px;
}

#task123 {
    background-color: white;
    border: 2px solid #D9D9D9;
    border-right: none;
}
#task123>span:nth-child(1){
    color: black;
}
#task123>p>a{
    color: black;
}
#t {
    width: 100%;
    display: flex;
}

#t1,
#t2 {
    text-align: center;
    width: 50%;
}

#t1 {
    border-right: 2px solid #D9D9D9;
    ;
}

#group00 {
    height: 450px;
    overflow: auto;
    width: 90%;
    margin-left: 30px;
}

#group00::-webkit-scrollbar {
    display: none;
}

#CI {
    width: 45%;
    padding: 15px;
    margin-left: 30px;
    border-radius: 10px;
}

#CB {
    width: 200px;
    margin: 20px 10px;
    padding: 15px;
    background-color: var(--regular-font-color);
    color: var(--button-color);
    border-radius: 10px;
    appearance: none;
}

#group00>div>div:first-child {
    display: flex;
    justify-content: space-between;
}

#group00 h3 {
    font-weight: 600;
    font-size: 25px;
    padding: 20px;
    color: var(--regular-font-color);
}

#group00 h2 {
    font-weight: 600;
    font-size: 18px;
    padding: 20px;
    color: var(--regular-font-color);
}
div>p{
    color: var(--regular-font-color);
}
/* #group00 button{
 
} */
#group00 h1{
    color: var(--regular-font-color);
}
#edit {
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(55, 231, 55);
}

#delete {
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);

}

#group00>div {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #D9D9D9;
}

#newsinput {
    width: 70%;
    padding: 15px;
    margin-left: 20px;
    border-radius: 10px;
}

#newsbutton {
    width: 23%;
    margin: 20px 10px;
    padding: 15px;
    background-color: black;
    color: var(--button-color);
    background-color: var(--regular-font-color);
    border-radius: 10px;
    appearance: none;
}

.regular{
    color: var(--regular-font-color);
}
@media screen and (min-width: 500px) and (max-width: 1110px) {

    /* #D-MainSection {
        flex-direction: column;
       
    } */
    #main {
        flex-direction: column;
        /* align-items: center; */
    }
    #left{
        display: block;
        text-align: center;
        height: 600px;
        width: 100%;
    }

#right{
    width: 100%;
    height: 100vh;
}
#newsbutton{
    width: 200px;
     }
     #newsinput{
        width: 500px;
     }
     #chatbox{
        width: 90%;
     }
}
@media screen and (max-width: 768px) {
    #main {
        flex-direction: column;
        /* align-items: center; */
    }
    #left{
        display: block;
        text-align: center;
        height: 600px;
        width: 100%;
    }
    #right{
        width: 100%;
        height: 100vh;
    }
 #newsbutton{
width: 100px;
 }
 #newsinput{
    width: 180px;
 }
 #chatbox{
    width: 80%;
 }
}