* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

#main {
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #F5F5F5;
    width: 18%;
    border-right: 2px solid #DEDEDE;

}


#left span {
    width: 6%;
    margin: 10px;
    margin-right: 05px;
    padding-left: 40px;
}

div #logo {

    margin-top: 30px;
    padding: 0;
    text-align: center;
    width: 60%;
    margin-left: 40px;
    margin-bottom: 20px;
}

div>p {
    margin: 10px;
    padding: 5px;
    display: inline;
}

#left div:last-child {
    margin-bottom: 30px;
}

#left>div>div:hover p {
    font-size: 16px;
    font-weight: 500;
    color: #722ED1;
}

#left>div>div:hover span {
    color: #722ED1;
}

#left>div>div {
    display: flex;
    align-items: center;
}

#left>div>div:hover {
    margin-right: -1px;
    border-right: 4px solid #722ED1;
}

#left>div>div:first-child {
    margin-right: 0;
    border: none;
}

#right {
    background-color: #FFFFFF;
    width: 82%;
}

#r1 div:first-child img {
    width: 4.5%;
    margin: 15px 20px;
    margin-top: 15px;
}

#r1 {
    width: 100%;
    display: flex;
}

#r1 div:last-child {
    text-align: end;
    margin: 5px 20px;
}


#r1 div:last-child img:first-child {
    width: 6%;
    margin: 5px;
    margin-top: 10px;
    margin-left: 30px;

}

#right #r1 #profile {
    position: relative;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 7.3%;
    margin-top: 5px;
    margin-left: 15px;
}

#forms{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 5%;
}

#employeeform{
    display: flex;
    flex-direction: column;   

}

#studentform {
    display: flex;
    flex-direction: column;
}

form{
    margin-top: 5%;
}

#forms div h3{
    color: #722ED1;
    font-size: 30px;
}

form input{
    padding: 3%;
    margin-bottom: 3%;
    border-radius: 15px;
    border-color: #722ED1;
    font-family: inter;
    background-color: #ece9ef;
}

.submit{
    background-color: rgb(200, 238, 200);
    width: 40%;
    margin: auto;
    margin-bottom: 5%;
}

#forms div{
    text-align: center;
}
