* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

#main {
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #F5F5F5;
    width: 18%;
    border-right: 2px solid #DEDEDE;

}


#left span {
    width: 6%;
    margin: 10px;
    margin-right: 05px;
    padding-left: 40px;
}

div #logo {

    margin-top: 30px;
    padding: 0;
    text-align: center;
    width: 60%;
    margin-left: 40px;
    margin-bottom: 20px;
}

div>p {
    margin: 10px;
    padding: 5px;
    display: inline;
}

#left div:last-child {
    margin-bottom: 30px;
}

#main>#left #employee {
    font-size: 16px;
    font-weight: 500;
    color: #722ED1;

    margin-right: -1px;
    border-right: 4px solid #722ED1;
}

#left>div>div:hover p {
    font-size: 16px;
    font-weight: 500;
    color: #722ED1;
}

#left>div>div:hover span {
    color: #722ED1;
}

#left>div>div {
    display: flex;
    align-items: center;
}

#left>div>div:hover {
    margin-right: -1px;
    border-right: 4px solid #722ED1;
}

#left>div>div:first-child {
    margin-right: 0;
    border: none;
}

#right {
    background-color: #FFFFFF;
    width: 82%;
}

#r1 div:first-child img {
    width: 4.5%;
    margin: 15px 20px;
    margin-top: 15px;
}

#r1 {
    width: 100%;
    display: flex;
}

#r1 div:last-child {
    text-align: end;
    margin: 5px 20px;
}


#r1 div:last-child img:first-child {
    width: 6%;
    margin: 5px;
    margin-top: 10px;
    margin-left: 30px;

}

#right #r1 #profile {
    position: relative;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 7.3%;
    margin-top: 5px;
    margin-left: 15px;
}

#right>div:nth-child(2) {
    padding: 15px;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
}

#table table {
    width: 90%;
    margin: auto;
}

#table {
    margin-top: 1%;
}

tbody {
    text-align: center;
}

tr th {
    width: 3%;
}

.delete {
    background-color: red;
}

.same {
    background-color: #c0a0ed;
}

.row {
    border: 1px solid black;
}

td {
    padding: 1%;
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

tr th {
    padding: 1%;
}

#pagination_wrapper {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#pagination_wrapper button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}