* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

#main {
    display: flex;
}
:root {
    --main-background-color: #FFFFFF;
    --slidebar-background-color: #F5F5F5;
    --slidebar-font-color:black;
    --logo-background-color:#F5F5F5;
    --secondary-color: black;
    --card-color:white;
}

.dark-mode {
    --main-background-color: #242526;
    --slidebar-background-color: #18191A;
    --slidebar-font-color:#ffffff;
    --logo-background-color:#F5F5F5;
    --secondary-color: #FFFFFF;
    --card-color:white;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--slidebar-background-color);
    width: 20%;
    border-right: 2px solid #DEDEDE;
}


#left span {
    width: 6%;
    margin: 10px;
    margin-right: 05px;
    padding-left: 40px;
}

div #logo {
    
    margin-top: 30px;
    padding: 0;
    text-align: center;
    width: 60%;
    margin-left: 40px;
    margin-bottom: 20px;
    
}

div>p {
    margin: 10px;
    padding: 5px;
    display: inline;
}

#left div:last-child {
    margin-bottom: 30px;
}

#main>#left #search {
  
        background-color: white;
        border:  2px solid #D9D9D9; 
        border-right: none;
    
}
#search>span:first-child{
    color: black;
}
#search>p{
    color: black;
}
#left>div>div:hover p {
    font-size: 16px;
    font-weight: 500;
    color: #722ED1;
}

#left>div>div:hover span {
    color: #722ED1;
}

#left>div>div {
    display: flex;
    align-items: center;
    color: var(--slidebar-font-color);
}

#left>div>div:hover {
    margin-right: -1px;
    border-right: 4px solid #722ED1;
    cursor: pointer;
}

#left>div>div:first-child {
    margin-right: 0;
    border: none;
}

#right {
    background-color: var(--main-background-color);
    width: 80%;
    height: 100vh;
}

#r1 div:first-child {
    width: 5%;
    display: flex;
    align-items: center;
}
#r1 div:first-child span {
    margin-left: 10%;
}
#r1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#r1 div:last-child {
    width: 40%;
    justify-content: end;
    font-size: 20px;
    display: flex;
    align-items: center;
}


#r1 div:last-child img:first-child {
    width: 6%;
    margin: 5px;
    margin-top: 10px;
    margin-left: 30px;
}

#right #r1 #profile {
    position: relative;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

#right>div:nth-child(2) {
    padding: 15px;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
}

#right div:nth-child(2)>p{
    font-size: 27px;
    font-weight: 600;
    color: var(--secondary-color);
}

#searchdiv{
    width: 90%;
margin-left: 20px;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#searchdiv input{
    padding: 10px;
    border-color: #000000;
    border-radius: 10px;
    border: 1px solid #000000;
    width: 200px;
    text-align: center;
    height: 17px;
    margin-right: 30px;
    margin-left: 5px;
}

#search_by{
    padding: 1%;
    border-color: #000000;
    border-radius: 10px;
    appearance: none;
    width: 150px;
    text-align: center;
    height: 40px;
    margin-right: 30px;
    margin-left: 5px;
}

#searchbtn{
    padding: 1%;
    background-color: var(--secondary-color);
    color: var(--main-background-color);
    border-radius: 10px;
    width:120px;
    margin: 0 20px;
    height: 40px;

}

#search_cate{
    border-color: #040008;
    padding: 1%;
    border-radius: 10px;
    appearance: none;
    width: 150px;
    text-align: center;
    height: 40px;
    margin-right: 30px;
    margin-left: 5px;
}

#cont{
    margin-top: 2%;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
}
.font{
    color: var(--secondary-color);
}
.card{
    border: 1px solid black;
    padding: 2%;
    display: flex;
    width: 30%;
    margin: auto;
    margin-top: 2%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    background-color: var(--card-color);
}

.p_image{
    width: 20%;
    margin: auto;
}

.editbtn {
    width: 30%;
    margin: auto;
    background-color: green;
    color: white;
    padding: 2%;
    border-radius: 15px;
}

.editdiv{
    width: 30%;
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2%;
    margin: auto;
    margin-top: 2%;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    /* padding: ; */
}

.editdiv input{
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-bottom: 1%;
}

.editdiv button{
    padding: 2%;
    color: white;
    background-color: black;
}

@media screen and (max-width: 768px) {

    #main {
        flex-direction: column;
        align-items: center;
    }

    #left {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 2px solid #DEDEDE;
    }

    #left>div {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    #left>div>div {
        width: auto;
        margin: 5px;
        padding-left: 20px;
    }

    #left>div>div:first-child {
        margin-right: 0;
        border: none;
        padding-left: 0;
    }

    #right {
        width: 100%;
    }

    #right #r1 #profile {
        position: relative;
        border-radius: 15px;
        border: 1px solid lightgray;
        width: 20%;
        margin-left: 3%;
        margin-right: 3%;
    }

    #r1 div:last-child img:first-child {
        width: 20%;
        margin: 5px;
        margin-top: 10px;
        margin-left: 30px;
    }

    #cont{
        margin-top: 2%;
        width: 100%;
        margin: auto;
        justify-content: space-evenly;
        display: block;
    }

    .card{
        border: 1px solid black;
        padding: 2%;
        display: flex;
        width: 80%;
        margin: auto;
        margin-top: 2%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 15px;
        border-color: #722ED1;
        background-color: var(--card-color);
    }

    #searchdiv{
        width: 80%;
        margin: auto;
        margin-top: 2%;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 3%;
        justify-content: center;
        align-content: center;
    }
    .editdiv{
        width: 80%;
        background-color: var(--card-color);
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 2%;
        margin: auto;
        margin-top: 2%;
        justify-content: center;
        text-align: center;
        border-radius: 15px;
        border-color: #722ED1;
        /* padding: ; */
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

    #left {
        width: 25%;
    }

    #right {
        width: 75%;
    }
}
