* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

#main {
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

:root {
    --main-background-color: #FFFFFF;
    --slidebar-background-color: #F5F5F5;
    --slidebar-font-color: black;
    --logo-background-color: #F5F5F5;
    --secondary-color: black;
    --card-color: white;
}

.dark-mode {
    --main-background-color: #242526;
    --slidebar-background-color: #18191A;
    --slidebar-font-color: #ffffff;
    --logo-background-color: #F5F5F5;
    --secondary-color: #FFFFFF;
    --card-color: black;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--slidebar-background-color);
    width: 20%;
    border-right: 2px solid #DEDEDE;

}

#main>#left #students {
    background-color: white;
    border:  2px solid #D9D9D9; 
    border-right: none;
}
#students>span:first-child{
    color: black;
}
#students>p{
    color: black;
}
#left span {
    width: 6%;
    margin: 10px;
    margin-right: 05px;
    padding-left: 40px;
}

div #logo {
    
    margin-top: 30px;
    padding: 0;
    text-align: center;
    width: 60%;
    margin-left: 40px;
    margin-bottom: 20px;
    
}

div>p {
    margin: 10px;
    padding: 5px;
    display: inline;
}

#left div:last-child {
    margin-bottom: 30px;
}

#left>div>div:hover p {
    font-size: 16px;
    font-weight: 500;
    color: #722ED1;
}

#left>div>div:hover span {
    color: #722ED1;
}

#left>div>div {
    display: flex;
    align-items: center;
    color: var(--slidebar-font-color);
}

#left>div>div:hover {
    margin-right: -1px;
    border-right: 4px solid #722ED1;
}

#left>div>div:first-child {
    margin-right: 0;
    border: none;
}

#right {
    background-color: var(--main-background-color);
    width: 80%;
    height: auto;
}

#r1 div:first-child {
    width: 5%;
    display: flex;
    align-items: center;
}

#r1 div:first-child span {
    margin-left: 10%;
}

#r1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#r1 div:last-child {
    width: 40%;
    justify-content: end;
    font-size: 20px;
    display: flex;
    align-items: center;
}


#r1 div:last-child img:first-child {
    width: 6%;
    margin: 5px;
    margin-top: 10px;
    margin-left: 30px;

}

#right #r1 #profile {
    position: relative;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

#right>div:nth-child(2) {
    padding: 15px;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
    display: flex;
    color: var(--slidebar-font-color);
    justify-content: space-between;
}

#table table {
    width: 98%;
    margin: auto;
}

#table {
    margin-top: 1%;
}

tbody {
    text-align: center;
}

tr th {
    width: 1%;
}

.delete {
    background-color: red;
    border-color: var(--slidebar-font-color);
}

.same {
    background-color: white;
    color: black;
    border: 1px solid var(--slidebar-font-color);
}

.row {
    border: 1px solid var(--slidebar-font-color);
}

tr>td:nth-child(1) {
    width: fit-content;
}

td {
    padding: 1%;
    border: 1px solid var(--slidebar-font-color);
    background-color: var(--card-color);
    color: var(--slidebar-font-color);
}

tr>th:first-child {
    border-top-left-radius: 10px;
}

tr>th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child>td:last-child {
    border-bottom-right-radius: 10px;
}

tr:last-child>td:first-child {
    border-bottom-left-radius: 10px;
}

th {
    border: 1px solid black;
}

tr th {
    padding: 1%;
}

#pagination_wrapper {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#pagination_wrapper button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    #main {
        flex-direction: column;
        align-items: center;
    }

    #left {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 2px solid #DEDEDE;
    }

    #left>div {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    #left>div>div {
        width: auto;
        margin: 5px;
        padding-left: 20px;
    }

    #left>div>div:first-child {
        margin-right: 0;
        border: none;
        padding-left: 0;
    }

    #right {
        width: 100%;
    }

    #right #r1 #profile {
        position: relative;
        border-radius: 15px;
        border: 1px solid lightgray;
        width: 20%;
        margin-left: 3%;
        margin-right: 3%;
    }

    #r1 div:last-child img:first-child {
        width: 20%;
        margin: 5px;
        margin-top: 10px;
        margin-left: 30px;
    }
    #table table thead {
        display: none;
    }

    #table table tr {
        display: block;
        margin-bottom: 10px;
    }

    #table table td {
        display: block;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
    }

    /* Add some spacing between table rows for readability */
    #table table tr th,
    #table table tr td {
        padding: 10px;
    }

    /* Styling for table cell data */
    #table table td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 100px; /* Adjust the width as needed */
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    #left {
        width: 25%;
    }

    #right {
        width: 75%;
    }
}