* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}
:root{
    --primary-color: #FFFFFF;
    --slidebar-color: #F5F5F5;
    --secondary-color: black;
    --primary-background-color: white;
}
.dark-mode{
    --primary-color: #3c3a3a;
    --slidebar-color: #242526;
    --secondary-color: #FFFFFF;
    --primary-background-color: white;
}

#main {
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--slidebar-color);
    width: 18%;
    border-right: 2px solid #DEDEDE;

}

#main>#left #dashboard {
    font-size: 16px;
    font-weight: 500;
    color: #722ED1;

    margin-right: -1px;
    border-right: 4px solid #722ED1;
}

#left span {
    width: 6%;
    margin: 10px;
    margin-right: 05px;
    padding-left: 40px;
}

div #logo {
    background-color: var(--primary-background-color);
    margin-top: 30px;
    padding: 0;
    text-align: center;
    width: 60%;
    margin-left: 40px;
    margin-bottom: 20px;
}

div>p {
    margin: 10px;
    padding: 5px;
    display: inline;
}

#left div:last-child {
    margin-bottom: 30px;
}

#left>div>div:hover p {
    font-size: 16px;
    font-weight: 500;
    color: #722ED1;
}

#left>div>div:hover span {
    color: #722ED1;
}

#left>div>div {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
}

#left>div>div:hover {
    margin-right: -1px;
    border-right: 4px solid #722ED1;
    cursor: pointer;
}

#left>div>div:first-child {
    margin-right: 0;
    border: none;
}

#right {
    background-color: var(--primary-color);
    width: 82%;
}

#r1 div:first-child{
    width: 5%;
    display: flex;
    align-items: center;
}
#r1 div:first-child span{
    margin-left: 10%;
}
#r1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#r1 div:last-child {
    display: flex;
    width: 25%;
    border: 1px solid black;
    align-items: center;
    /* justify-content: end; */
    text-align: end;
     /* margin: 5px 20px; */
}
#r1 div:last-child>div:nth-child(1){
    width: 60%;
    border: 1px solid black;
    font-size: 20px;
}
#active_mode{
    font-size: 20px;
}
.head{
    color: var(--secondary-color);
}

/* #r1 div:last-child img:first-child {
    width: 6%;
    margin: 5px;
    margin-top: 10px;
    margin-left: 30px;

} */


#right #r1 #profile {
    position: relative;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 10%;
    margin-top: 5px;
    margin-left: 15px;
}

#right>div:nth-child(2) {
    padding: 15px;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
}

#right>div:nth-child(2) p {
    font-size: 30px;
    font-weight: 600;
}
#right>div:nth-child(2) a button{
    padding: 1%;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    align-self: center;
    border-color: #050E7C;
    background-color: var(--primary-background-color);
    align-self: center;
    color: #0317f7;
}
#r-mid {
    border-bottom: 2px solid #D9D9D9;
}

#r-mid>div {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
}

#r-mid>h2 {
    font-weight: 500;
    font-size: 22px;
    margin: 20px 32px;
    margin-bottom: 10px;
}

#r-mid>p {
    font-weight: 500;
    font-size: 22px;
    margin: 10px 32px;
}

#r-mid>div>div p {
    font-size: 18px;
}

#r-mid>div>div {
    display: flex;
    flex-direction: column;
}

#r-mid>div>div:nth-child(1) {
    padding: 10px;
    border-radius: 15px;
    color: #160058;
    width: 20%;
    background-color: #F9F1FF;
}

#r-mid>div>div:nth-child(2) {
    width: 50%;
    padding: 10px;
    color: #0C5601;
    border-radius: 15px;
    background-color: #F6FFEE;
}

#r-mid>div>div:nth-child(3) {
    width: 20%;
    padding: 10px;
    color: #050E7C;
    border-radius: 15px;
    background-color: #F1F5FF;
}

td span {
    color: #3DBA21;
}

table {
    padding: 5px;
}

td {
    width: 60px;
    padding: 8px;
}

td:nth-child(2) {
    width: 200px;
    padding: 8px;
}

#r-mid>div>div .num {
    font-size: 30px;
    font-weight: 1000;
}