*{
    margin: 0;
    padding: 0;
  font-family: 'Inter', sans-serif;
     
}
#D-MainSection{
display: flex;
}
:root{
    --slidebar-background-color:#F5F5F5;
    --regular-font-color:black;
    --main-background-color: #FFFFFF;
    --logo-background-color:#F5F5F5;
    --button-color:white;
}
.dark-mode{
    --slidebar-background-color:#242526;
    --regular-font-color:#ffffff;
    --main-background-color: #18191A;
    --logo-background-color:#F5F5F5;
    --button-color:black;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#D-LeftSection{
display: flex;
flex-direction: column;
justify-content:space-between;
height: 100vh;
background-color: var(--slidebar-background-color);
    width: 18%;
    border-right: 2px solid #DEDEDE;

}
#D-DashboardOption {
    background-color: white;
    border:  2px solid #D9D9D9; 
    border-right: none;
}
#D-DashboardOption>span:nth-child(1){
    color: black;
}
#D-DashboardOption>p>a{
    color: black;
}

#D-LeftSection span{
    width: 6%;
    margin: 10px;
    margin-right: 05px;
    padding-left: 40px;
    color: var(--regular-font-color);
}
div #D-Logo{

    margin-top: 30px;
    padding: 0; 
    text-align: center;
    width: 60%;
    margin-left: 40px;
margin-bottom: 20px;
}
div > p{
    margin: 10px;
    padding: 5px;
    display: inline;
}
#D-LeftSection div:last-child{
    margin-bottom: 30px;
}
#D-LeftSection a{
    text-decoration: none;
    color: black;
    color: var(--regular-font-color);
}
#D-LeftSection >div>div:hover a{
    font-size: 16px;
    font-weight: 500;
   color: #722ED1;
}
#D-LeftSection >div>div:hover span{
    color: #722ED1;
}
#D-LeftSection > div >div{
    display: flex;
    align-items: center;
}
#D-LeftSection >div>div:hover{
    margin-right: -1px;
    border-right: 4px solid #722ED1;
}
#D-LeftSection >div>div:first-child{
    margin-right: 0;
    border: none;
}
#D-RightSection{
    background-color: var(--main-background-color);
    width: 86%;
}

#r1 div:first-child img{
    width: 25px;
}
#r1 div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px; 
}
#r1{

    width: 100%;
    display: flex;
justify-content: space-between;
}
#r1 div:last-child{
    text-align: end;
    margin: 5px 20px;
}

#r1 div:last-child{
    display: flex;
justify-content: center;
align-items: center;
}
#r1 div:last-child img:first-child{
    width: 33px;
    margin: 0px 25px;
margin-left:35px;
}
#D-RightSection #r1 #profile{
    border-radius: 50%;
    border: 1px solid lightgray;
    width: 50px;
    margin-top: 5px;
margin-left: 15px;
margin: 5px;
    }
#D-RightSection>div:nth-child(2){
    color: var(--regular-font-color);
    padding: 20px;
    border-top:  2px solid #D9D9D9;
    border-bottom:  2px solid #D9D9D9;
}
#D-RightSection>div:nth-child(2) p{
    font-size: 30px;
    font-weight: 600;
}
#r-mid{
    border-bottom:  2px solid #D9D9D9;
}
#r-mid > div{
display: flex;
justify-content: space-between;
margin: 30px 50px;
}
#r-mid > h2{
    font-weight: 500;
    font-size: 22px;
    margin: 20px 32px;
    margin-bottom: 10px;
    color: var(--regular-font-color);
}
#r-mid > p{
    font-weight: 500;
    font-size: 22px;
    margin: 10px 32px;
}
#r-mid > div >div p{
    font-size: 18px;
}
#r-mid > div > div{
    display: flex;
    flex-direction: column;
}
#r-mid > div > div:nth-child(1){
    padding: 10px;
    border-radius: 15px;
    color: #160058;
    width: 20%;
    background-color: #F9F1FF;
}
#r-mid > div > div:nth-child(2){
    width: 50%;
    padding: 10px;
    color: #0C5601;
    border-radius: 15px;
    background-color: #F6FFEE;
}
#r-mid > div > div:nth-child(3){
    width: 20%;
    padding: 10px;
    color: #050E7C;
    border-radius: 15px;
    background-color:#F1F5FF;
}
td span{
    color:#3DBA21;
}
table{
    padding: 0px;
}
td{
    width: 60px;
    padding: 0px;
}
td:nth-child(2){
    width: 200px;
    padding: 8px;
}
#r-mid > div >div .num{
    font-size: 30px;
    font-weight: 1000;
}
#last h2{
    font-weight: 500;
    font-size: 22px;
margin: 0;
margin-top: 20px;
color: var(--regular-font-color);
}
#todo{

    width: 95%;
}
#todo table {
    width: 100%;
    margin: 20px;
    margin-right: 0;
    margin-left: 10px;
    font-size: 18px;
}
table tr td:last-child{
    color: var(--regular-font-color);
}
#active_count00{
    color: black;
}
#todo input{
width: 100%;
height: 18px;
}
#last{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 316px;
}

#left >div:first-child>div:first-child{
    margin-right: 0;
    border: none;
}
#D-DashboardOption {
    background-color: white;
    border:  2px solid #D9D9D9; 
    border-right: none;
}
#todoP{
    font-size: 20px;
text-align: center;
}
#todoSpan{
color: red;
    margin-top: 20px;
    padding: 5px;
}
@media screen and (min-width: 500px) and (max-width: 1110px) {

    /* #D-MainSection {
        flex-direction: column;
       
    } */
    #D-MainSection {
        flex-direction: column;
        /* align-items: center; */
    }
    #D-LeftSection{
        display: block;
        text-align: center;
        height: 600px;
        width: 100%;
    }

#D-RightSection{
    width: 100%;
    height: 100vh;
}
#r-mid > div{
 width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
#r-mid > div > div:nth-child(1){
    width: 80%;
    
margin: 20px 0;
}
#r-mid > div > div:nth-child(2){
    width: 80%;
    margin: 20px 0;
}
#r-mid > div > div:nth-child(3){
    width: 80%;
    margin: 20px 0;
}
}
@media screen and (max-width: 768px) {
    #D-MainSection {
        flex-direction: column;
        /* align-items: center; */
    }
    #D-LeftSection{
        display: block;
        text-align: center;
        height: 600px;
        width: 100%;
    }

#D-RightSection{
    width: 100%;
  
}
#r-mid > div{
 width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
#r-mid > div > div:nth-child(1){
    width: 70%;
    
margin: 20px 0;
}
#r-mid > div > div:nth-child(2){
    width: 70%;
    margin: 20px 0;
}
#r-mid > div > div:nth-child(3){
    width: 70%;
    margin: 20px 0;
}
 
}