*{
    margin: 0;
    padding: 0;
     font-family: 'Inter', sans-serif;
     
}
#main{
display: flex;
}
:root{
    --slidebar-background-color:#F5F5F5;
    --regular-font-color:black;
    --main-background-color: #FFFFFF;
    --logo-background-color:#F5F5F5;
    --button-color:white;
}
.dark-mode{
    --slidebar-background-color:#242526;
    --regular-font-color:#ffffff;
    --main-background-color: #18191A;
    --logo-background-color:#F5F5F5;
    --button-color:black;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#left{
display: flex;
flex-direction: column;
justify-content:space-between;
height: 100vh;
background-color: var(--slidebar-background-color);
    width: 18%;
    border-right: 2px solid #DEDEDE;

}
#task123>span:nth-child(1){
    color: black;
  }
  #task123>p>a{
    color: black;
  }

#left span{
    width: 6%;
    margin: 10px;
    margin-right: 05px;
    padding-left: 40px;
    color: var(--regular-font-color);
}
div #logo{

    margin-top: 30px;
    padding: 0; 
    text-align: center;
    width: 60%;
    margin-left: 40px;
margin-bottom: 20px;
}
div > p{
    margin: 10px;
    padding: 5px;
    display: inline;
}
#left div:last-child{
    margin-bottom: 30px;
}
#left a{
    text-decoration: none;
    color: var(--regular-font-color);
}
#left >div>div:hover a{
    font-size: 16px;
    font-weight: 500;
   color: #722ED1;
}
#left >div>div:hover span{
    color: #722ED1;
}
#left > div >div{
    display: flex;
    align-items: center;
}
#left >div>div:hover{
    margin-right: -1px;
    border-right: 4px solid #722ED1;
}
#left >div:first-child>div:first-child{
    margin-right: 0;
    border: none;
}
#right{
    background-color: var(--main-background-color);
    width: 86%;
}

#r1 div:first-child img{
    width: 25px;
}
#r1 div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px; 
}
#r1{

    width: 100%;
    display: flex;
justify-content: space-between;
}
#r1 div:last-child{
    text-align: end;
    margin: 5px 20px;
}

#r1 div:last-child{
    display: flex;
justify-content: center;
align-items: center;
}
#r1 div:last-child img:first-child{
    width: 33px;
    margin: 0px 25px;
margin-left:35px;
}
#right #r1 #profile{
    border-radius: 50%;
    border: 1px solid lightgray;
    width: 50px;
    margin-top: 5px;
margin-left: 15px;
margin: 5px;
    }
#right>div:nth-child(2){
    color: var(--regular-font-color);
    padding: 20px;
    border-top:  2px solid #D9D9D9;
    border-bottom:  2px solid #D9D9D9;
}
#right>div:nth-child(2) p{
    font-size: 30px;
    font-weight: 600;
}




#chatarea::-webkit-scrollbar{
    display: none;
  }

#newsinput{
    width: 70%;
    padding: 15px;
    margin-left: 32px;
    border-radius: 10px;
}
#newsbutton{
    width: 21%;
    margin: auto;
    margin: 20px 10px;
    padding: 15px;
    background-color: var(--regular-font-color);
    color: var(--button-color);
    border-radius: 10px;
appearance: none;
}
#chatarea>h1{
    color: var(--regular-font-color);
}
#group00  >#chatarea{
 
    height: 62vh;
    /* border: 2px solid #D9D9D9; */
    overflow:auto;
border-radius: 20px;
    width: 95%;
display: flex;
flex-direction: column-reverse;

    margin: auto;
    margin-top: 20px;
}
#chatbox div:first-child{
    display: flex;
    height: 80px;
justify-content: space-between;
flex-direction: column;
}
#chatbox{
    border-radius: 20px;
    margin: auto;
    width: 1100px;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#task123 {
    background-color: white;
    border:  2px solid #D9D9D9; 
    border-right: none;
    
}
#chatbox h3{
    color: var(--regular-font-color);
}
#chatbox h5{
    color: var(--regular-font-color);
}
div p{
    color: var(--regular-font-color);
}
@media screen and (min-width: 500px) and (max-width: 1110px) {

    /* #D-MainSection {
        flex-direction: column;
       
    } */
    #main {
        flex-direction: column;
        /* align-items: center; */
    }
    #left{
        display: block;
        text-align: center;
        height: 600px;
        width: 100%;
    }

#right{
    width: 100%;
    height: 100vh;
}
#newsbutton{
    width: 200px;
     }
     #newsinput{
        width: 500px;
     }
     #chatbox{
        width: 90%;
     }
}
@media screen and (max-width: 768px) {
    #main {
        flex-direction: column;
        /* align-items: center; */
    }
    #left{
        display: block;
        text-align: center;
        height: 600px;
        width: 100%;
    }
    #right{
        width: 100%;
        height: 100vh;
    }
 #newsbutton{
width: 100px;
 }
 #newsinput{
    width: 180px;
 }
 #chatbox{
    width: 80%;
 }
}
