.account-setting{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.account-setting .profile{
    width: 40%;
    /* height: 300px; */
    /* border: 1px solid black; */
    /* text-align: center; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.account-setting .image{
    margin: auto;
    padding: 30px;
    /* border: solid black; */
    width: 40%;
    display: flex;
    border-radius: 50%;
}

.account-setting img{
    width: 100%;
    /* border: solid ; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border-radius: 50%;
}

.account-setting .details{
    margin: 20px;
    /* margin-bottom: -px; */
}

.account-setting .details .details-info{
    display: flex;
    align-items: center;
}

.account-setting .details-info label{
    font-size: 20px;
    font-weight: bolder;
}

.account-setting .details-info p{
    font-size: 18px;
    font-weight: 400;
}
button{
    cursor:pointer;
}
.account-setting .details-info button{
    margin: 10px;
    width: 120px;
    padding: 15px;
    /* height: 30px; */
    background-color: rgb(40, 5, 167);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    margin-left: 300px;
}

.account-setting .update{
    /* display: flex; */
    flex-direction: column;
    /* gap: 30px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: solid; */
    width: 40%;
    display: none;
}

.account-setting .update input{
    width: 70%;
    margin: auto;
    padding: 15px;
    border: none;
    background-color: rgb(238, 236, 236);
    border-radius: 10px;
    font-size: 15px;
}

.account-setting .update-buttons{
    display: flex;
    justify-content: space-between;
}

.account-setting .update-buttons button{
    margin: 20px;
    padding: 15px;
    width: 120px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    color: white;
}

.account-setting .update-buttons button:nth-child(1){
    background-color: green;
}
.account-setting .update-buttons button:nth-child(2){
    background-color: red;
}