*{
    margin: 0;
    padding: 0;
     font-family: 'Inter', sans-serif;
     
}
#main{
display: flex;
}

#left{
display: flex;
flex-direction: column;
justify-content:space-between;
height: 100vh;
    background-color: #F5F5F5;
    width: 18%;
    border-right: 2px solid #DEDEDE;

}


#left img{
    width: 6%;
    margin: 10px;
    margin-right: 0px;
    padding-left: 40px;
}
div  #logo{

    margin-top: 30px;
    padding: 0; 
    text-align: center;
    width: 60%;
    margin-left: 45px;
    margin-bottom: 30px;

}
div > p{
    margin: 10px;
    padding: 5px;
    display: inline;
}
#left div:last-child{
    margin-bottom: 30px;
}

#left >div>div:hover p{
    font-size: 16px;
    font-weight: 500;
   color: #722ED1;
}
#left > div >div{
    display: flex;
    align-items: center;
}
#left >div>div:hover{
    margin-right: -1px;
    border-right: 4px solid #722ED1;
}
#right{
    background-color: #FFFFFF;
    width: 82%;
}
#r1 div:first-child img{
    width: 6%;
margin: 20px 20px;
}

#r1{

    width: 100%;
    display: flex;

}
#r1 div:last-child{
    text-align: end;
    margin: 5px 20px;
}


#r1 div:last-child img:first-child{
    width: 4.5%;
    margin: 5px;
margin-right: 20px;

}
#right #r1 #profile{
    width: 6.7%;
    margin-right: 2px;
    }
#right>div:nth-child(2){
    padding: 20px;
    border-top:  2px solid #D9D9D9;
    border-bottom:  2px solid #D9D9D9;
}
#right>div:nth-child(2) p{
    font-size: 30px;
    font-weight: 600;
}
#r-mid > div{
display: flex;
justify-content: space-between;
margin: 30px 50px;
}
#r-mid > p{
    font-size: 20px;
    margin: 40px 32px;
}
#r-mid > div > div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 17px;
    flex-direction: column;
}
#r-mid > div > div:nth-child(1){
    background-color: pink;
}
#r-mid > div > div:nth-child(2){
    background-color: pink;
}
#r-mid > div > div:nth-child(3){
    background-color: pink;
}
#r-mid > div > div:nth-child(4){
    background-color: pink;
}